/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: oklch(67.83% 0.156 35.18);
  --secondary-accent: oklch(69.59% 0.0497 43.94);
  --accent-dark: oklch(78.06% 0.127 57.86);
  --accent-border: oklch(57.85% 0.0997 57.8 / 40%);
  --white: 227, 230, 232;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --text-color: rgb(var(--black));
  --text-footer-color: oklch(18.38% 0.0168 57.86);
  --link-color: var(--accent);
  --text-accent-color: rgba(var(--black), 80%);

  --bg-color: rgb(var(--white));
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  src: url("/fonts/Cabin-Regular.woff2") format("woff2");
  unicode-range: U+0025-00FF;
}
body {
  /*font-family: "Atkinson", sans-serif;*/
  /*font-family: "Recursive", sans-serif;*/
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--text-color));
  font-size: 20px;
  line-height: 1.7;
}
main {
  flex: 1;
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--text-color));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--link-color);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.body-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.25em;
}
.main-container {
  width: 920px;
  max-width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-border {
  margin: 0.25em;
  padding: 0.25em;
  width: 100%;
  flex-grow: 1;
  border-radius: 0.25em;

  background: radial-gradient(
      in oklch ellipse at top left,

      rgb(174, 174, 174),
      oklch(78.06% 0.127 57.86 / 15.7%)
    ),
    radial-gradient(
      in oklch ellipse at bottom right,
      oklch(78.06% 0.127 57.86 / 40%),
      oklch(78.06% 0.127 57.86 / 15.7%)
    );
}
.main-bg {
  margin: 0.25em;
  padding: 0.25em;
  background-color: var(--bg-color);
  border-radius: 0.25em;
}

img.profile {
  width: 270px;
  height: 270px;
  padding: 1px;

  border-radius: 50%;
  float: right;
  shape-outside: circle(50%);
  border: 2px solid var(--accent-border);
}

html,
html[data-theme="light"] {
  color-scheme: light;

  --text-color: rgb(var(--black));
  --bg-color: white;
}

/* Dark theme override */
html[data-theme="dark"] {
  color-scheme: dark;

  --text-color: rgb(var(--white));
  --bg-color: oklch(18.54% 0.0076 35.18);
  --text-accent-color: oklch(88.19% 0.156 35.18);
  --accent: oklch(79.11% 0.156 35.18);
  --accent-dark: oklch(88.19% 0.156 35.18);
  --link-color: oklch(93.56% 0.156 35.18);
  --gray-light: 229, 233, 240;
  --secondary-accent: oklch(69.59% 0 43.94);
  --text-footer-color: var(--accent-secondary);
}

[data-theme="light"] {
  background-color: oklch(78.06% 0.127 57.86 / 15.7%);

  .main-border {
    margin: 0.25em;
    padding: 0.25em;
    width: 100%;
    flex-grow: 1;
    border-radius: 0.25em;

    background: radial-gradient(
        in oklch ellipse at top left,

        rgb(174, 174, 174),
        oklch(78.06% 0.127 57.86 / 15.7%)
      ),
      radial-gradient(
        in oklch ellipse at bottom right,
        oklch(78.06% 0.127 57.86 / 40%),
        oklch(78.06% 0.127 57.86 / 15.7%)
      );
  }
}
[data-theme="dark"] {
  /*background-color: rgb(12, 15, 18);*/

  background-color: oklch(17% 0.0076 35.18);

  .main-border {
    margin: 0.25em;
    padding: 0.25em;
    width: 100%;
    flex-grow: 1;
    border-radius: 0.25em;

    background: radial-gradient(
        in oklch ellipse at top left,
        oklch(51.34% 0.0127 57.86 / 15.7%),
        transparent
      ),
      radial-gradient(
        in oklch ellipse at bottom right,
        oklch(57.85% 0.0997 57.8 / 40%),
        oklch(57.85% 0.0997 57.8/ 15.7%)
      );
  }
}

.title {
  color: rgb(var(--text-color));
}
.date {
  color: var(--secondary-accent);
}

.side-col-wrapper {
  display: grid;

  grid-template-areas:
    "title"
    "side"
    "content";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.side-col-wrapper aside {
  grid-area: side;
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-bottom: 1em 0px;
}

.side-col-wrapper .prose {
  grid-area: content;
}

.side-col-wrapper aside {
  height: 100vh;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  padding-left: 1em;
}

.side-col-wrapper .title {
  grid-area: title;
}

@media (min-width: 920px) {
  .side-col-wrapper {
    grid-template-areas:
      "title side"
      "content side";
    grid-template-columns: 1fr 300px;
  }
  aside {
    padding-left: 1em;
    margin-left: 1em;
    border-left: 1px solid oklch(78.06% 0.127 57.86 / 20%);
  }
}
